  <div class="jumbotron">
    <h1 class="title">Ruby 之家</h1>
    <p class="slogan">Ruby 之家是致力于为Ruby人提供一个优质的就业信息服务。
    <br>
    希望通过这个网站让为Ruby工程师找到理想的工作。
    <br>
    点击下方按钮开始应聘吧。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">进入应聘</a></p>
  </div>

  <div class="content-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3 class="section-heading">福利政策</h3>
          <p class="lead">带薪年假，通讯津贴
            <br>
            定期体检，五险一金
            <br>
            午餐补助，年底双薪
            <br>
            团队聚餐，节日礼物
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'header1', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3 class="section-heading">工作特点</h3>
          <p class="lead">弹性工作
            <br>
            技能培训
            <br>
            岗位晋升
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'header2', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/04/27/5901f729c2dc4.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>在收获成长与丰厚的回报</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/04/27/5901fa48c563a.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>提供舒适的办公体验</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/04/27/5901fab7a841f.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>时间证明我们的力量</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
